:root {
  --primary: #192BC2;
  --navy: #150578;
  --deep: #0E0E52;
  --aqua: #0ECCFB;
  --frost: #87E5FD;

  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
  overflow: hidden;
}
